h1 {
  font-family: sans-serif;
  color: teal;
}

h3 {
  font-family: sans-serif;
  color: navy;
}

h4 {
  font-family: sans-serif;
  color: teal;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  height: 100%;
}

.buttons {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.listItem {
  display: flex;
  justify-content: space-between;
  width: 15%;
  cursor: grab;
}

#task {
  margin: 5px;
}

#category {
  margin: 5px;
}

.schedule {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 2000px;
}

.hour {
  height: 50px;
  cursor: grab;
}

.icon {
  cursor: pointer;
}
