h1 {
  font-family: sans-serif;
  color: teal;
}

h3 {
  font-family: sans-serif;
  color: navy;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

.listItem {
  display: flex;
  justify-content: space-between;
  width: 15%;
}

.input {
  margin: 5px;
}

.schedule {
  border: solid black 1px;
  width: 300px;
  height: 300px;
}
