html {
  height: 100%;
}

body {
  height: 100%;
}

h1 {
  font-family: sans-serif;
  color: #eb016e;
}

h3 {
  font-family: sans-serif;
  color: navy;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}

#task {
  margin: 5px;
}

#category {
  margin: 5px;
}

.category {
  cursor: grab;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 15%;
  cursor: grab;
}

.icon {
  cursor: pointer;
}
